################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YouTubeApiSolution/.vs/YouTubeApiSolution/DesignTimeBuild/.dtbcache.v2
/YouTubeApiSolution/.vs/YouTubeApiSolution/v17/.suo
/YouTubeApiSolution/.vs/YouTubeApiSolution/v17/DocumentLayout.backup.json
/YouTubeApiSolution/.vs/YouTubeApiSolution/v17/DocumentLayout.json
/YouTubeApiSolution/YouTubeApi/bin/Debug/net6.0/YouTubeApi.dll
/YouTubeApiSolution/YouTubeApi/bin/Debug/net6.0/YouTubeApi.exe
/YouTubeApiSolution/YouTubeApi/bin/Debug/net6.0/YouTubeApi.pdb
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/apphost.exe
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/ref/YouTubeApi.dll
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/refint/YouTubeApi.dll
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/YouTubeApi.AssemblyInfo.cs
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/YouTubeApi.AssemblyInfoInputs.cache
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/YouTubeApi.assets.cache
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/YouTubeApi.csproj.FileListAbsolute.txt
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/YouTubeApi.dll
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/YouTubeApi.GeneratedMSBuildEditorConfig.editorconfig
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/YouTubeApi.genruntimeconfig.cache
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/YouTubeApi.pdb
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/YouTubeApi.sourcelink.json
/YouTubeApiSolution/YouTubeApi/obj/project.nuget.cache
/YouTubeApiSolution/YouTubeApi/obj/YouTubeApi.csproj.nuget.dgspec.json
/YouTubeApiSolution/.vs/YouTubeApiSolution/FileContentIndex/42083324-c011-4015-b787-9d8fcce31b03.vsidx
/YouTubeApiSolution/.vs/YouTubeApiSolution/FileContentIndex/6b97c224-9f9f-4642-96a6-391992b3da8f.vsidx
/YouTubeApiSolution/YouTubeApi/bin/Debug/net6.0/appsettings.json
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/ApiEndpoints.json
/YouTubeApiSolution/YouTubeApi/obj/Debug/net6.0/YouTubeApi.csproj.BuildWithSkipAnalyzers
/YouTubeApiSolution/.vs/YouTubeApiSolution/FileContentIndex/b4bf6a8a-635e-4cc2-95fa-d8b79b630a09.vsidx
/YouTubeApiSolution/.vs/YouTubeApiSolution/FileContentIndex/c71bf55b-4590-43a0-aa67-c157fb2ae453.vsidx
